In [2]:
import pandas as pd

In [13]:
df = pd.read_csv("soc-redditHyperlinks-title.tsv", sep='\t') #reads .tsv file into pandas dataframe

In [14]:
df.head()

,SOURCE_SUBREDDIT,TARGET_SUBREDDIT,POST_ID,TIMESTAMP,LINK_SENTIMENT,PROPERTIES
0,rddtgaming,rddtrust,1u4pzzs,2013-12-31 16:39:18,1,"25.0,23.0,0.76,0.0,0.44,0.12,0.12,4.0,4.0,0.0,..."
1,xboxone,battlefield_4,1u4tmfs,2013-12-31 17:59:11,1,"100.0,88.0,0.78,0.02,0.08,0.13,0.07,16.0,16.0,..."
2,ps4,battlefield_4,1u4tmos,2013-12-31 17:59:40,1,"100.0,88.0,0.78,0.02,0.08,0.13,0.07,16.0,16.0,..."
3,fitnesscirclejerk,leangains,1u50xfs,2013-12-31 19:01:56,1,"49.0,43.0,0.775510204082,0.0,0.265306122449,0...."
4,fitnesscirclejerk,lifeprotips,1u51nps,2013-12-31 21:02:28,1,"14.0,14.0,0.785714285714,0.0,0.428571428571,0...."

In [15]:
def reduce(x):
    sentiments = x.split(",")[18:21] #stores positive, negative, and compound sentiment in list
    return sentiments

In [16]:
df["PROPERTIES"] = df["PROPERTIES"].apply(reduce)

In [17]:
df.head()

,SOURCE_SUBREDDIT,TARGET_SUBREDDIT,POST_ID,TIMESTAMP,LINK_SENTIMENT,PROPERTIES
0,rddtgaming,rddtrust,1u4pzzs,2013-12-31 16:39:18,1,"[0.0, 0.0, 0.0]"
1,xboxone,battlefield_4,1u4tmfs,2013-12-31 17:59:11,1,"[0.195, 0.0, 0.4404]"
2,ps4,battlefield_4,1u4tmos,2013-12-31 17:59:40,1,"[0.195, 0.0, 0.4404]"
3,fitnesscirclejerk,leangains,1u50xfs,2013-12-31 19:01:56,1,"[0.0, 0.0, 0.0]"
4,fitnesscirclejerk,lifeprotips,1u51nps,2013-12-31 21:02:28,1,"[0.0, 0.0, 0.0]"

In [18]:
df.drop(["POST_ID", "TIMESTAMP", "PROPERTIES"], axis=1, inplace = True)
df.head()

    SOURCE_SUBREDDIT TARGET_SUBREDDIT  LINK_SENTIMENT
0         rddtgaming         rddtrust               1
1            xboxone    battlefield_4               1
2                ps4    battlefield_4               1
3  fitnesscirclejerk        leangains               1
4  fitnesscirclejerk      lifeprotips               1

In [19]:
grouped = df.groupby(["SOURCE_SUBREDDIT", "TARGET_SUBREDDIT"])
grouped.first()

                                   LINK_SENTIMENT
SOURCE_SUBREDDIT TARGET_SUBREDDIT
007              daniel_craig                   1
07thexpansion    visualnovels                   1
098f6bcd4621d373 askreddit                      1
0________0       todayilearned                  1
0magick          c_s_t                          1
...                                           ...
zygethia         uproleplaying                  1
zyramains        leagueoflegends                1
                 summonerschool                 1
zyzz             bodybuilding                   1
                 girlsmirin                     1

[234792 rows x 1 columns]

In [21]:
grouped.get_group(("ps4","gaming"))

        LINK_SENTIMENT
3933                 1
19254                1
20681                1
67710                1
113204               1
118739               1
158614               1
181674               1
204779               1
220979               1
225804               1
240938               1
263308               1
302181               1
319126               1
337698               1
347252              -1
466388               1
471596               1
495948               1
507528               1

In [53]:
# grouped['sentiment'] = ''
# grouped['count'] = ''
summed = grouped.mean()
summed['count'] = grouped.count()

In [73]:
# summed.tail(40)
summed.loc[("ps4","assassinscreed")]

LINK_SENTIMENT    0.714286
count             7.000000
Name: (ps4, assassinscreed), dtype: float64

In [61]:
summed.loc['zootopia','furry']

LINK_SENTIMENT    1.0
count             1.0
Name: (zootopia, furry), dtype: float64

In [70]:
final = summed.reset_index()
final.head()

   SOURCE_SUBREDDIT TARGET_SUBREDDIT  LINK_SENTIMENT  count
0               007     daniel_craig             1.0      1
1     07thexpansion     visualnovels             1.0      1
2  098f6bcd4621d373        askreddit             1.0      1
3        0________0    todayilearned             1.0      1
4           0magick            c_s_t             1.0      1

In [72]:
final.loc[final['SOURCE_SUBREDDIT']=='ps4']

       SOURCE_SUBREDDIT TARGET_SUBREDDIT  LINK_SENTIMENT  count
158019              ps4        askreddit        1.000000      3
158020              ps4   assassinscreed        0.714286      7
158021              ps4           batman        1.000000      2
158022              ps4     batmanarkham        1.000000      4
158023              ps4       battleborn        1.000000      1
...                 ...              ...             ...    ...
158160              ps4       watch_dogs        1.000000      1
158161              ps4             wiiu        1.000000      4
158162              ps4          witcher        1.000000      3
158163              ps4             xbox        1.000000      2
158164              ps4          xboxone        1.000000     20

[146 rows x 4 columns]